/* Основные стили для body */
body {
    margin: 0; /* Убираем отступы по умолчанию */
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Занять всю высоту страницы */
    background-color: #f8f9fa; /* Цвет фона страницы (светлый) */
    color: #212529; /* Цвет текста по умолчанию (темно-серый) */
}

/* Стили контейнера приложения */
/* Стили для контейнера приложения */
.App {
    font-family: Arial, sans-serif;
    margin: 70px 22px 88px 0;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    min-height: 150px;
    width: 100%; /* Занять всю ширину */
   
    flex-direction: column; /* Вертикальное расположение */
    display: flex;
    box-sizing: border-box;

}

/* Измените стили для формы, чтобы она также занимала 100% ширины */
form {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов формы */
    width: 100%; /* Занять всю ширину */
}






.app-container { /* Пример контейнера, окружая .App */
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    justify-content: flex-start; /* Элементы располагаются сверху */
    height: 100vh; /* Задать высоту всего экрана */
}


/* Стили для заголовка h1 */
h1 {
    font-size: 24px; /* Размер шрифта для заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}
h2 {
    font-size: 34px; /* Размер шрифта для заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    text-align:center;
}

/* Стили для меток (label) */
label {
    display: block; /* Метка будет занимать всю ширину */
    margin: 10px 0 5px; /* Отступы сверху, снизу и снизу */
}

/* Стили для элементов ввода и выбора */
input, select {
    width: calc(100% - 0px); /* Учитываем внутренние отступы и границы */
    padding: 8px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступ снизу */
    border: 1px solid #ccc; /* Обводка для элементов ввода */
    border-radius: 4px; /* Закругленные углы для элементов */
    background-color: #ffffff; /* Фоновый цвет (белый) */
    color: #212529; /* Цвет текста (темно-серый) */
    box-sizing: border-box;
}

    /* Стили для элементов ввода при фокусе */
    input:focus, select:focus {
        border-color: #007bff; /* Цвет обводки при фокусе (синий) */
        outline: none; /* Убираем стандартное выделение */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Тень при фокусе */
    }


/* Стили для кнопки */
button {
    background-color: #4ADE66; /* Основной цвет фона кнопки (светлый зеленый) */
    color: black; /* Цвет текста кнопки */
    padding: 10px; /* Внутренние отступы кнопки */
    border: none; /* Убираем обводку */
    border-radius: 5px; /* Закругленные углы для кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

    /* Стили для кнопки при наведении */
    button:hover {
        background-color: #3e9a52; /* Цвет фона кнопки при наведении (темно-зеленый) */
    }

/* Стили для сообщений об ошибках */
.error {
    color: red; /* Цвет текста для ошибок */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для заголовка приложения */
.header {
    width: 100%; /* Занять всю ширину экрана */
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: space-between; /* Создаем пространство между элементами */
    align-items: center; /* Выравниваем по центру по вертикали */
    padding: 10px; /* Внутренние отступы */
    background-color: #007bff; /* Цвет фона шапки (синий) */
    color: white; /* Цвет текста */
    border-radius: 0 0 5px 5px; /* Скругление только снизу */
    position: absolute; /* Фиксируем шапку вверху */
    top: 0; /* Привязка к верхней части */
    left: 0; /* Привязка к левой стороне */
}


/* Стили для кнопки меню */
.menu-button {
    background-color: white; /* Цвет фона кнопки меню (белый) */
    color: #007bff; /* Цвет текста (синий) */
    border: none; /* Убираем обводку */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы для кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

    /* Стили для кнопки меню при наведении */
    .menu-button:hover {
        background-color: #e9ecef; /* Цвет фона кнопки меню при наведении (светло-серый) */
    }
