.employee-form {
    padding: 20px;
    background: white; /* Светлый фон */
    border-radius: 8px;
    
    max-width: 500px; /* Ограничение ширины формы */
    margin: 20px auto; /* Центрирование формы по горизонтали */
}

    .employee-form h2 {
        margin-bottom: 20px; /* Увеличенные отступы снизу */
        font-family: 'Arial', sans-serif; /* Шрифт заголовка */
        color: #333; /* Цвет текста заголовка */
        text-align: center; /* Центрируем заголовок */
    }

    .employee-form label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold; /* Жирный текст для меток */
        color: #555; /* Темный цвет шрифта */
    }

    .employee-form input {
        width: 100%; /* Ширина на 100% */
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px; /* Размер шрифта */
        transition: border-color 0.3s; /* Плавный переход границы */
    }

        .employee-form input:focus {
            border-color: #007bff; /* Цвет границы при фокусе */
            outline: none; /* Убираем обводку браузера */
        }

    .employee-form button {
        background-color: #007bff; /* Синий фон кнопки */
        color: white;
        padding: 20px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px; /* Размер шрифта кнопки */
        transition: background-color 0.3s; /* Плавный переход фона */
        width: 100%; /* Ширина на 100% */
    }

        .employee-form button:hover {
            background-color: #0056b3; /* Темно-синий фон кнопки при наведении */
        }

    .employee-form .back-button {
        margin-top: 20px; /* Отступ сверху */
        background-color: #6c757d; /* Серый фон кнопки */
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; /* Ширина на 100% */
    }

        .employee-form .back-button:hover {
            background-color: #5a6268; /* Темно-серый фон кнопки при наведении */
        }
